# Исключаем исходники TypeScript
src/

# Исключаем временные файлы и папки
tmp/

# Исключаем файлы конфигурации и документации, которые не нужны в продакшене
*.log
*.md
*.yaml

# Исключаем папку assets, если она не нужна
assets/

# Исключаем другие ненужные файлы
node_modules/
